# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
ENV/

# Environment Variables & Keys
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDEs & OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
